<div class="container">
  <h1>Log in</h1>
  <form action='/login' method='post'>
    email:<input type='text' name='email'>
    password:<input type='password' name='password'>
    <input type='submit'>
  </form>
  <br><br>
  <h1>Sign up</h1>
  <form action='/new_user' method='post'>
    email:<input type='text' name='email'>
    password:<input type='password' name='password'>
    <input type='submit'>
  </form>
</div>
